h1{
    display: inline-block;
    font-size: 5.5em;
    text-align: center;
    color: #04536b;
    text-align:center;
    font-style: italic;
    margin: 7px;
    text-decoration: underline;
     width: 100%;
}
p{
    font-size: 120%;
    font-style: italic;
    text-align: justify;
    font-size: 1.5em;
}
#Imagen3{
    float: left;
    padding: 10px;
    margin: 10px;
    border: dashed;
}